BW_AIS_CLIENT_ID=
BW_AIS_CLIENT_SECRET=
BW_TOKEN_URL=https://id.barentswatch.no/connect/token
BW_AIS_URL=https://live.ais.barentswatch.no/v1/combined
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=ais.positions
AIS_MESSAGE_LIMIT=20
